html, body {
margin: 0;
font: normal 18px/1.4em Arial;
}
.wrapper{
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
header {
    position: relative;
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
    min-height: 300px;
}
nav {
    background: black; 
}
nav .logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/LOGO.png')no-repeat center center;
    background-size: 80%;
}
nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
nav ul li {
    display: inline-block;
    padding: 10px 13px;
}
nav ul li a {
    text-decoration: dotted;
    color: white;
    font-size: 20px;
}
nav .search {
    display: inline-block;
    padding: 5px;
    margin: 8px;
    border: 1px solid #444444;
    background: #333333;
    color: #eeeeee;
}
header .header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 1200px;
    color: white;
    text-align: center;
}
main { 
 padding: 20px;
}
aside {
 padding: 20px;
}
footer{
    background: rgb(48, 44, 44);
    color: #dddddd;
}
footer h2{
    color: white;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer li a {
text-decoration: none;
color: #eeeeee;
}
footer li a:hover{
    color: white;
}
.copyright {
    font-size: 90%;
    border-top: 1px solid #8b8b8b;
    color: #686464;
}
.copyright p {
padding: 5px;
margin: 0;
}
.flexbox{
    display: flex;
    width: 100%;
}
.flex.flex1{
    flex: 1;
}
.flex.flex2{
    flex: 2;
}
.flex.flex3{
    flex: 3;
}