h2 {
  color: blueviolet;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-color: rgb(226, 226, 226); */
}
nav ul li a {
  background-color: aqua;
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
  height: 25px;
}
nav ul li a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
}
.image-desc {
  float: right;
  margin-left: 0%;
}
.image-intro {
  float: left;
  margin-right: 0%;
}
/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}
.header {
  grid-column: 1 / span 3;
  align-content: center;
  background-color: rgb(26, 23, 32);
  color: aliceblue;
}
.main {
  background-color: purple;
  padding: 10px;
}
.footer {
  grid-column: 1 / span 3;
  background-color: rgb(217, 255, 0);
  padding: 10px;
}
aside {
  background-color: rgb(42, 255, 255);
  padding: 10px;
} */
.container {
  display: grid;
  grid-template-areas:
    "menu header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  background-color: rgb(255, 252, 247);
  gap: 5px;
}
.header {
  grid-area: header;
  background-color: rgb(165, 242, 255);
}
.menu {
  grid-area: menu;
  /* background-color: rgb(2, 211, 248); */
}
.main {
  grid-area: main;
  background-color: rgb(255, 172, 255);
  padding: 10px;
}
.aside {
  grid-area: right;
  background-color: rgb(42, 255, 255);
  padding: 10px;
}
.footer {
  grid-area: footer;
  background-color: rgb(217, 255, 0);
}
