* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 15px;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
/* this is the poduct and head design */
.product {
  border: solid;
  width: 825px;
  margin: 50px auto;
}
.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  margin: 0;
  padding: 10px;
}
/* product info */
.price {
  font-size: 15px;
  margin-bottom: 20px;
  /* float: left; */
}
/*.about-product {
  clear: both; 
}*/
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin: 10px;
  /* float: right; */
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
/* product details */
.details-title {
  /* text-transform: uppercase; */
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li {
  margin: 5px;
  font-size: 15px;
}
/* button */
.add-cart {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: #000 solid;
}
.add-cart:hover {
  color: #000;
  background-color: white;
}
.color-container {
  display: flex;
}
.color-red {
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 5px;
  /* float: left; */
}
.color-blue {
  width: 30px;
  height: 30px;
  background-color: blue;
  margin: 5px;
  /* float: left; */
}
.color-yellow {
  width: 30px;
  height: 30px;
  background-color: yellow;
  margin: 5px;
  /* float: left; */
}
.color-green {
  width: 30px;
  height: 30px;
  background-color: green;
  margin: 5px;
  /* float: left; */
}
.color-purple {
  width: 30px;
  height: 30px;
  background-color: purple;
  margin: 5px;
  /* float: left; */
}
.color-pink {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 121, 143);
  margin: 5px;
  /* float: left; */
}
FLEX Tutorial and challenge
/* .container {
  width: 200px;
  margin: left 20px;: ;
} */
/* .article {
  float: left;
  width: 300px;
  box-sizing: border-box;
  margin: 10px;
}
.product-detail {
  float: right;
  box-sizing: border-box;
  width: 200px;
}
.product-img {
  float: left;
  margin: 10px;
} */
.container-flex {
  display: flex;
  align-content: stretch;
  gap: 10px;
}
.container-price-shipping {
  display: flex;
  justify-content: space-between;
}
.product-detail {
  flex: 1;
}
.article {
  flex: 1;
}
Grid Tutorian and challenge

